<nav class="menu-container flex center-center-stretch">
	<div class="logo-container">
		{{#if @site.logo}}
			<a href="{{@site.url}}" class="logo-url flex strat-start-stretch">
				<img src="{{@site.logo}}" class="logo" alt="{{t "Blog Logo"}}" />
				<span class="logo-text">ENGINEERING</span>
				</a>
		
		{{/if}}
	</div>
	<div class="navigation-container flex center-center-stretch">
		<ul class="navigations flex center-center-stretch">
			{{#foreach navigation}}
				<li class="nav-{{slug}} nav-item {{#if current}} active{{/if}}" role="presentation"><a href="{{url absolute="true"}}" class="nav-link">{{label}}</a></li>
			{{/foreach}}
		</ul>
		<div class="get-started-container">
			<a href="#" class="free-trial">GET FREE TRIAL</a>
		</div>
	</div>
</nav>

